// ----------------- COLORS -----------------
$primaryColor: #BA0621;
$secondaryColor: #6C0918;
$primaryTextColor: #CC1D36;
$secundaryTextColor: #0B0101;
// --------x-------- COLORS --------x--------

// ----------------- FONTS -----------------
$headingFont: 'Kanit', sans-serif;
$baseFont: 'Roboto', sans-serif;
$textFont: 'Lato', sans-serif;
$navFont: 'Catamaran', sans-serif;
// --------x-------- FONTS --------x--------